Collection5
itmo_dl_nlp_course_bert_and_gpt.ipynb
itmo_dl_nlp_course_BERTopic.ipynb
itmo_dl_nlp_course_PLMs.ipynb
main_old.ipynb
main3.ipynb
merged_dataset.zip
merged_dataset
rubert_tiny_mlm
rubert_tiny_ner
